<div class="warranty-box">
    <div class="warranty-body">
        <h2>LIFETIME WARRANTY PROTECTION</h2>
        <p>Get <strong>Lifetime Warranty Protection</strong> for your new PlayBeatz right now! You won’t want ever want to go without the freedom and superior sound quality of truly wireless headphones.</p>
        <p>PlayBeatz are a precision-engineered, high-quality product that should last for a lifetime.</p>
        <p>Now you can protect your investment with a lifetime warranty!</p>
        <p><strong>* Get total peace of mind with no time limit!</strong></p>
        <p><strong>* If anything goes wrong with your PlayBeatz, we will replace them with a no-quibble, hassle-free warranty!</strong></p>
        <p><strong>* Get a big discount and insure every pair of PlayBeatz you buy!</strong></p>
        <p>If you ever have a problem or your device becomes defective, just ship it back to us, and we will rush you a new set quickly by return mail.</p>
        <p>Never worry again about your wireless earbuds. If you get a new phone or computer, and your PlayBeatz have any problem connecting, we will repair or replace them as soon as you return them to us!</p>
        <div class="warranty-signature">
            <div class="left">
                <p class="signature">Emanage Test</p>
            </div>
            <div class="right"><img src="/pub-assets/fileuploads/images/mini_img_warranty.png" alt="warranty" class=" b-loaded"></div>
        </div>
    </div>
    <div class="border-top"></div>
    <div class="border-right"></div>
    <div class="border-bottom"></div>
    <div class="border-left"></div>
</div>